$color-1: gray;
$color-2: white;
$steps: 1000;
$squareSize: 15;

@for $i from 0 to $steps {
    .class-#{$i + 1} {
        background: mix($color-1, $color-2, percentage($i / ($steps - 1)));
    }
}
body{
    margin:0;
}
div{
  width:$squareSize + vw;
  height:$squareSize + vh;
  float:left;
}
