$mobile-screen-size : "980px";
// $hd-screen-size : "1900";
// $mobile-media : "screen and (max-width: ${mobile-screen-size}px)";
// $hd-media : "screen and (min-width: ${hd-screen-size}px)";
$color-1: black;
$color-2: white;
$steps: 144;

@for $i from 0 to $steps {
    .class-#{$i + 1} {
        background: mix($color-1, $color-2, percentage($i / ($steps - 1)));
    }
}
body{
    margin:0;
}
#letters{
  overflow:hidden;
  div{
  }
}
#board{
  margin:0;
  padding:0;
li{
  width: 10%;
  height: 20%;
  float:left;
  list-style-type:none;
  &:after{
    content:'+';
    font-size: 12px;
    margin-left: -5px;
    margin-top: -7px;
    position: absolute;
    color:#ccc;
    }
  }
}

@media screen and (max-width: $mobile-screen-size ) {
  #board li{
    width: 25%;
  }
}
