.class-1 {
  background: blue;
}

.class-2 {
  background: #0101fe;
}

.class-3 {
  background: #0202fd;
}

.class-4 {
  background: #0303fc;
}

.class-5 {
  background: #0404fb;
}

.class-6 {
  background: #0505fa;
}

.class-7 {
  background: #0606fa;
}

.class-8 {
  background: #0606f9;
}

.class-9 {
  background: #0707f8;
}

.class-10 {
  background: #0808f7;
}

.class-11 {
  background: #0909f6;
}

.class-12 {
  background: #0a0af5;
}

.class-13 {
  background: #0b0bf4;
}

.class-14 {
  background: #0c0cf3;
}

.class-15 {
  background: #0d0df2;
}

.class-16 {
  background: #0e0ef1;
}

.class-17 {
  background: #0f0ff0;
}

.class-18 {
  background: #1010ef;
}

.class-19 {
  background: #1111ef;
}

.class-20 {
  background: #1111ee;
}

.class-21 {
  background: #1212ed;
}

.class-22 {
  background: #1313ec;
}

.class-23 {
  background: #1414eb;
}

.class-24 {
  background: #1515ea;
}

.class-25 {
  background: #1616e9;
}

.class-26 {
  background: #1717e8;
}

.class-27 {
  background: #1818e7;
}

.class-28 {
  background: #1919e6;
}

.class-29 {
  background: #1a1ae5;
}

.class-30 {
  background: #1b1be5;
}

.class-31 {
  background: #1c1ce4;
}

.class-32 {
  background: #1d1de3;
}

.class-33 {
  background: #1d1de2;
}

.class-34 {
  background: #1e1ee1;
}

.class-35 {
  background: #1f1fe0;
}

.class-36 {
  background: #2020df;
}

.class-37 {
  background: #2121de;
}

.class-38 {
  background: #2222dd;
}

.class-39 {
  background: #2323dc;
}

.class-40 {
  background: #2424db;
}

.class-41 {
  background: #2525da;
}

.class-42 {
  background: #2626da;
}

.class-43 {
  background: #2727d9;
}

.class-44 {
  background: #2828d8;
}

.class-45 {
  background: #2929d7;
}

.class-46 {
  background: #2929d6;
}

.class-47 {
  background: #2a2ad5;
}

.class-48 {
  background: #2b2bd4;
}

.class-49 {
  background: #2c2cd3;
}

.class-50 {
  background: #2d2dd2;
}

.class-51 {
  background: #2e2ed1;
}

.class-52 {
  background: #2f2fd0;
}

.class-53 {
  background: #3030cf;
}

.class-54 {
  background: #3131cf;
}

.class-55 {
  background: #3232ce;
}

.class-56 {
  background: #3333cd;
}

.class-57 {
  background: #3434cc;
}

.class-58 {
  background: #3434cb;
}

.class-59 {
  background: #3535ca;
}

.class-60 {
  background: #3636c9;
}

.class-61 {
  background: #3737c8;
}

.class-62 {
  background: #3838c7;
}

.class-63 {
  background: #3939c6;
}

.class-64 {
  background: #3a3ac5;
}

.class-65 {
  background: #3b3bc5;
}

.class-66 {
  background: #3c3cc4;
}

.class-67 {
  background: #3d3dc3;
}

.class-68 {
  background: #3e3ec2;
}

.class-69 {
  background: #3f3fc1;
}

.class-70 {
  background: #4040c0;
}

.class-71 {
  background: #4040bf;
}

.class-72 {
  background: #4141be;
}

.class-73 {
  background: #4242bd;
}

.class-74 {
  background: #4343bc;
}

.class-75 {
  background: #4444bb;
}

.class-76 {
  background: #4545ba;
}

.class-77 {
  background: #4646ba;
}

.class-78 {
  background: #4747b9;
}

.class-79 {
  background: #4848b8;
}

.class-80 {
  background: #4949b7;
}

.class-81 {
  background: #4a4ab6;
}

.class-82 {
  background: #4b4bb5;
}

.class-83 {
  background: #4c4cb4;
}

.class-84 {
  background: #4c4cb3;
}

.class-85 {
  background: #4d4db2;
}

.class-86 {
  background: #4e4eb1;
}

.class-87 {
  background: #4f4fb0;
}

.class-88 {
  background: #5050b0;
}

.class-89 {
  background: #5151af;
}

.class-90 {
  background: #5252ae;
}

.class-91 {
  background: #5353ad;
}

.class-92 {
  background: #5454ac;
}

.class-93 {
  background: #5555ab;
}

.class-94 {
  background: #5656aa;
}

.class-95 {
  background: #5757a9;
}

.class-96 {
  background: #5757a8;
}

.class-97 {
  background: #5858a7;
}

.class-98 {
  background: #5959a6;
}

.class-99 {
  background: #5a5aa5;
}

.class-100 {
  background: #5b5ba5;
}

.class-101 {
  background: #5c5ca4;
}

.class-102 {
  background: #5d5da3;
}

.class-103 {
  background: #5e5ea2;
}

.class-104 {
  background: #5f5fa1;
}

.class-105 {
  background: #6060a0;
}

.class-106 {
  background: #61619f;
}

.class-107 {
  background: #62629e;
}

.class-108 {
  background: #63639d;
}

.class-109 {
  background: #63639c;
}

.class-110 {
  background: #64649b;
}

.class-111 {
  background: #65659a;
}

.class-112 {
  background: #66669a;
}

.class-113 {
  background: #676799;
}

.class-114 {
  background: #686898;
}

.class-115 {
  background: #696997;
}

.class-116 {
  background: #6a6a96;
}

.class-117 {
  background: #6b6b95;
}

.class-118 {
  background: #6c6c94;
}

.class-119 {
  background: #6d6d93;
}

.class-120 {
  background: #6e6e92;
}

.class-121 {
  background: #6f6f91;
}

.class-122 {
  background: #6f6f90;
}

.class-123 {
  background: #707090;
}

.class-124 {
  background: #71718f;
}

.class-125 {
  background: #72728e;
}

.class-126 {
  background: #73738d;
}

.class-127 {
  background: #74748c;
}

.class-128 {
  background: #75758b;
}

.class-129 {
  background: #76768a;
}

.class-130 {
  background: #777789;
}

.class-131 {
  background: #787888;
}

.class-132 {
  background: #797987;
}

.class-133 {
  background: #7a7a86;
}

.class-134 {
  background: #7a7a85;
}

.class-135 {
  background: #7b7b85;
}

.class-136 {
  background: #7c7c84;
}

.class-137 {
  background: #7d7d83;
}

.class-138 {
  background: #7e7e82;
}

.class-139 {
  background: #7f7f81;
}

.class-140 {
  background: gray;
}

body {
  margin: 0;
}

div {
  width: 10vw;
  height: 10vh;
  float: left;
}
